<div class="container">
  <br>
  <div class="show-head">
    <%= image_tag  @flat.image %>
    <h2><%= @flat.name %></h2>
  </div>
  <br>
    <br>
  <div class="details">
    <h3> <%= @flat.address %> </h3>
    <p>  <%= @flat.description %> </p>
  </div>
  <br>
  <hr>
